body{
  overflow: hidden;
}

/*--------Homepage--------*/

.homepage-content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-top: 18vh;
  z-index: 100;
}

.parent-container {
  background-color: black;
  height: calc(85vh - 2rem);
  border-radius: min(1rem, 6%);
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hero-banner {
  display: flex;
  width: 70%;
  height: max-content;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
  text-align: center;
  text-wrap: normal;
  padding: min(1rem, 8%);
}

.hero-title {
  font-size: clamp(2rem, 3.6vw, 10rem);
  text-decoration: 1px;
}

.hero-subsection {
  color: #b4adad;
}

.try-now-button:link,
.try-now-button:visited {
  text-decoration: none;
  border: 1px solid;
  border-image: linear-gradient(to right, #00f5a0, #00d9f5, #007cf0) 1;
  background: transparent;
  color: white;
  padding: 0.6rem;
  width: max-content;
  transition: all 0.2s ease-in-out;
  margin-top: min(1rem, 8%);
}

.inner-text {
  position: relative;
  display: inline-block;
  font-size: clamp(1px, 100%, 4rem);
  text-align: center;
  
}
.inner-text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: clamp(.2px,.2vh,4px);
  background: white;
  transition: all 0.2s ease-in-out;
}

.inner-text:hover::after {
  width: 100%;
}

.todo-app-text {
  background: linear-gradient(90deg, #f12711, #f5af19 );
  -webkit-background-clip: text; /* Clipping the background to text */
  -webkit-text-fill-color: transparent; /* Making the text see-through */
  font-size: clamp(2.8rem,5vw,12rem);
}
