#parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100vw;
  height: calc(100vh + 10rem);
  margin-top: 12vh;
}

.input-box {
  margin-top: min(4rem, 10%);
  flex: 0.1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding: min(0.2rem, 2%);
}

.input-box input {
  height: 60%;
  width: 80%;
  background-color: rgb(0, 0, 0);
  border: none;
  padding: min(1.4rem, 10%);
  caret-color: white;
  color: white;
  font-size: clamp(1rem, 1vw, 3rem);
  border: clamp(2px, 0.2vw, 0.6rem) solid rgba(255, 255, 255, 1);
  border-radius: clamp(2.4rem, 2vw, 6rem);
}
.input-box input:focus {
  outline: none;
}

.input-box input::placeholder {
  color: white;
  font-size: clamp(0.8rem, 1vw, 5rem);
}
.input-box button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: clamp(0.3rem, 50%, 5rem);
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  border: clamp(2px, 0.2vw, 0.6rem) solid rgba(255, 255, 255, 1);
  cursor: pointer;
  transition: all 0.4s ease;
  transform-origin: center;
  box-shadow: 0 0 2rem rgb(58, 53, 53);
}

.input-box button:hover {
  transform: rotate(90deg);
}

.input-box button svg {
  height: 100%;
  width: 80%;
}

.todo-list-display {
  flex: 0.9;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  height: 100%;
  padding: 2rem 2rem;
  gap: clamp(2rem, 12vh, 6rem);
}

.todo-list-display > * {
  box-shadow: inset 0 0 10vw rgb(26, 25, 25);
  flex: 0.5;
  height: 100%;
  padding: 1rem;
  overflow: scroll;
  border-radius: clamp(1rem, 1.2vw, 4rem);
}

.left-container {
  width: 100%;
}

.right-container {
  width: 100%;
}

.todo-list-display > * h2 {
  padding: min(1rem, 6%);
  text-align: center;
  border-radius: clamp(0.5rem, 1vw, 1rem);
}

.task-list {
  margin-top: min(1rem, 10%);
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 1.2vh, 4rem);
}

.task-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 1rem;
  font-size: clamp(0.8rem, 1.4vw, 3rem);
}

.task-name > span {
  flex: 0.84;
}

.options {
  flex: 0.16;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options span {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.options span:hover {
  transform: scale(1.4);
}

.task-list > div:nth-child(even) {
  background-color: rgb(34, 34, 34);
  border-radius: clamp(1rem, 1.2vw, 4rem);
}

.task-list > div:nth-child(odd) {
  border: clamp(2px, 0.3vw, 2rem) solid rgb(34, 34, 34);
  border-radius: clamp(1rem, 1.2vw, 4rem);
}

.opacity{
  opacity: 0;
}
.green-mark-on::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='rgb(0,172,0)'><path d='m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z'/></svg>");
  background-size: contain;
  background-repeat: no-repeat;
}
